body {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 20px;
  font-weight: 300;
}

h1 {
  font-size: 45px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

@font-face {
  font-family: "ia-writer-mono";
  src: local("ia-writer-mono"), url(./assets/fonts/ia-writer-mono-latin-400-normal.ttf) format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  src: local("Josefin Sans"), url(./assets/fonts/JosefinSans-VariableFont_wght.ttf) format("truetype");
}